body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.black-text{
    font-size: 30px;
}
#grad {
    background-image: linear-gradient(to bottom right, lightgrey, white);
  }